:root {

  /* Colores principales */

  --primary-color: #2563EB;
  --primary-hover: #1D4ED8;

  --sidebar-bg: #0F172A;
  --sidebar-hover: #1E293B;

  --header-bg: #FFFFFF;

  --background-color: #F8FAFC;

  /* Estados */

  --success-color: #16A34A;
  --warning-color: #F59E0B;
  --danger-color: #DC2626;

  /* Texto */

  --text-primary: #111827;
  --text-secondary: #6B7280;

  /* Bordes */

  --border-color: #E5E7EB;

  /* Sombras */

  --card-shadow:
      0px 2px 10px rgba(0,0,0,0.08);

  /* Tipografía */

  --font-family:
      "Segoe UI",
      Tahoma,
      Geneva,
      Verdana,
      sans-serif;

}